@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html,
  body {
    @apply bg-useless-dark;
  }
  
  html {
    font-family: 'Geist', sans-serif;
  }
  
  body {
    @apply text-gray-900;
  }
  
  .font-display {
    font-weight: var(--display-weight);
  }
  
  .font-text {
    font-weight: var(--text-weight);
  }
  .theme {
        --color-base-50: var(--base-50);
        --color-base-100: var(--base-100);
        --color-base-200: var(--base-200);
        --color-base-300: var(--base-300);
        --color-base-400: var(--base-400);
        --color-base-500: var(--base-500);
        --color-base-600: var(--base-600);
        --color-base-700: var(--base-700);
        --color-base-800: var(--base-800);
        --color-base-900: var(--base-900);
        --color-base-950: var(--base-950);
        --color-base-1000: var(--base-1000);
        --color-primary-50: var(--primary-50);
        --color-primary-100: var(--primary-100);
        --color-primary-200: var(--primary-200);
        --color-primary-300: var(--primary-300);
        --color-primary-400: var(--primary-400);
        --color-primary-500: var(--primary-500);
        --color-primary-600: var(--primary-600);
        --color-primary-700: var(--primary-700);
        --color-primary-800: var(--primary-800);
        --color-primary-900: var(--primary-900);
        --color-primary-950: var(--primary-950);
        --color-primary-1000: var(--primary-1000);
        --color-secondary-50: var(--secondary-50);
        --color-secondary-100: var(--secondary-100);
        --color-secondary-200: var(--secondary-200);
        --color-secondary-300: var(--secondary-300);
        --color-secondary-400: var(--secondary-400);
        --color-secondary-500: var(--secondary-500);
        --color-secondary-600: var(--secondary-600);
        --color-secondary-700: var(--secondary-700);
        --color-secondary-800: var(--secondary-800);
        --color-secondary-900: var(--secondary-900);
        --color-secondary-950: var(--secondary-950);
        --color-secondary-1000: var(--secondary-1000);
    }
  :root {
        --display-weight: 700;
        --text-weight: 400;
        --background: oklch(0.9853 0 0);
        --foreground: oklch(0.2693 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.2693 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.2693 0 0);
        --primary: oklch(0.8975 0 0);
        --primary-foreground: oklch(0 0 0);
        --secondary: oklch(0.2603 0 0);
        --secondary-foreground: oklch(1 0 0);
        --muted: oklch(0.9702 0 0);
        --muted-foreground: oklch(0.4393 0 0);
        --accent: oklch(0.9702 0 0);
        --accent-foreground: oklch(0.2693 0 0);
        --border: oklch(0.8975 0 0);
        --input: oklch(0.8702 0 0);
        --ring: oklch(0.8975 0 0);
        --chart-1: oklch(0.8975 0 0);
        --chart-2: oklch(0.2603 0 0);
        --chart-3: oklch(0.8149 0 2.07);
        --chart-4: oklch(0.8261 0 346.21);
        --chart-5: oklch(0.9436 0 1.25);
        --sidebar: oklch(1 0 0);
        --sidebar-foreground: oklch(0.2693 0 0);
        --sidebar-primary: oklch(0.8975 0 0);
        --sidebar-primary-foreground: oklch(0 0 0);
        --sidebar-accent: oklch(0.9853 0 0);
        --sidebar-accent-foreground: oklch(0.2693 0 0);
        --sidebar-border: oklch(0.8975 0 0);
        --sidebar-ring: oklch(0.8975 0 0);
        --base-50: oklch(0.9853 0 0);
        --base-100: oklch(0.9702 0 0);
        --base-200: oklch(0.8975 0 0);
        --base-300: oklch(0.8702 0 0);
        --base-400: oklch(0.7083 0 0);
        --base-500: oklch(0.5563 0 0);
        --base-600: oklch(0.4393 0 0);
        --base-700: oklch(0.3713 0 0);
        --base-800: oklch(0.2693 0 0);
        --base-900: oklch(0.2053 0 0);
        --base-950: oklch(0.1452 0 0);
        --base-1000: oklch(0.1062 0 0);
        --primary-50: oklch(0.9697 0 1.5);
        --primary-100: oklch(0.9436 0 1.25);
        --primary-200: oklch(0.8975 0 0);
        --primary-300: oklch(0.8149 0 2.07);
        --primary-400: oklch(0.7142 0 4.21);
        --primary-500: oklch(0.6491 0 6.68);
        --primary-600: oklch(0.5881 0 8.99);
        --primary-700: oklch(0.518 0 9.47);
        --primary-800: oklch(0.4564 0 7.76);
        --primary-900: oklch(0.4092 0 5.85);
        --primary-950: oklch(0.2759 0 7.54);
        --primary-1000: oklch(0.1892 0 8.64);
        --secondary-50: oklch(0.9764 0 343.42);
        --secondary-100: oklch(0.9526 0 342.49);
        --secondary-200: oklch(0.9029 0 343.44);
        --secondary-300: oklch(0.8261 0 346.21);
        --secondary-400: oklch(0.7204 0 348.95);
        --secondary-500: oklch(0.6577 0 350.51);
        --secondary-600: oklch(0.5933 0 354.76);
        --secondary-700: oklch(0.5258 0 357.11);
        --secondary-800: oklch(0.4595 0 357.94);
        --secondary-900: oklch(0.4082 0 358.52);
        --secondary-950: oklch(0.2603 0 0);
        --secondary-1000: oklch(0.2029 0 0.96);
        --radius: 0.3rem;
    }
  .dark {
        --background: oklch(0.1452 0 0);
        --foreground: oklch(0.8975 0 0);
        --card: oklch(0.2053 0 0);
        --card-foreground: oklch(0.8975 0 0);
        --popover: oklch(0.2053 0 0);
        --popover-foreground: oklch(0.8975 0 0);
        --primary: oklch(0.8975 0 0);
        --primary-foreground: oklch(0 0 0);
        --secondary: oklch(0.2603 0 0);
        --secondary-foreground: oklch(1 0 0);
        --muted: oklch(0.2693 0 0);
        --muted-foreground: oklch(0.8702 0 0);
        --accent: oklch(0.2693 0 0);
        --accent-foreground: oklch(0.8975 0 0);
        --border: oklch(0.2693 0 0);
        --input: oklch(0.3713 0 0);
        --ring: oklch(0.8975 0 0);
        --chart-1: oklch(0.8975 0 0);
        --chart-2: oklch(0.2603 0 0);
        --chart-3: oklch(0.8149 0 2.07);
        --chart-4: oklch(0.8261 0 346.21);
        --chart-5: oklch(0.9436 0 1.25);
        --sidebar: oklch(0.2053 0 0);
        --sidebar-foreground: oklch(0.8975 0 0);
        --sidebar-primary: oklch(0.8975 0 0);
        --sidebar-primary-foreground: oklch(0 0 0);
        --sidebar-accent: oklch(0.2693 0 0);
        --sidebar-accent-foreground: oklch(0.8975 0 0);
        --sidebar-border: oklch(0.2693 0 0);
        --sidebar-ring: oklch(0.8975 0 0);
    }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}